<h3 class="mdl-dialog__title" translate>Auth.LoginDialogTitle</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mdl-dialog__content">
        <mdl-textfield-validated [formControl]="loginForm.get('userName')"
                    label="{{ 'Auth.UserName' | translate:lang }}"
                    type="text"
                    floating-label></mdl-textfield-validated>
        <mdl-textfield-validated [formControl]="loginForm.get('password')"
                    label="{{ 'Auth.Password' | translate:lang }}"
                    type="password"
                    floating-label></mdl-textfield-validated>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button [disabled]="!loginForm.valid" type="submit"
                mdl-button-type="raised" mdl-colored="primary" mdl-ripple
                translate>Auth.Login</button>
        <button mdl-button type="button" (click)="cancel()" translate>Common.Cancel</button>
    </div>
</form>