<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
    <mdl-layout-header class="mdl-color--grey-100 mdl-color-text--grey-600">
        <mdl-layout-header-row>
            <mdl-layout-title>Challenging Challenges</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <mdl-textfield type="text" icon="search"></mdl-textfield>
            <mdl-icon-toggle mdl-ripple [(ngModel)]="languageChanged" (click)="toggleLanguage()">translate</mdl-icon-toggle>
         </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <nav-menu (onNavigated)="onNavigated()"></nav-menu>
    </mdl-layout-drawer>

    <mdl-layout-content>
        <router-outlet></router-outlet>
    </mdl-layout-content>
</mdl-layout>

<simple-notifications [options]="notificationOptions"></simple-notifications>
<dialog-outlet></dialog-outlet>