<h3 class="mdl-dialog__title" translate>Auth.Registration</h3>
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mdl-dialog__content">
        <mdl-textfield-validated [formControl]="registerForm.get('userName')"
                    label="{{ 'Auth.UserName' | translate:lang }}"
                    type="text"
                    floating-label></mdl-textfield-validated>
        <mdl-textfield-validated [formControl]="registerForm.get('email')"
                    label="{{ 'Auth.Email' | translate:lang }}"
                    type="text"
                    floating-label></mdl-textfield-validated>
        <mdl-textfield-validated [formControl]="registerForm.get('password')"
                    label="{{ 'Auth.Password' | translate:lang }}"
                    type="password"
                    floating-label></mdl-textfield-validated>
        <mdl-textfield-validated [formControl]="registerForm.get('confirmPassword')"
                    label="{{ 'Auth.PasswordConfirmation' | translate:lang }}"
                    type="password"
                    floating-label></mdl-textfield-validated>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button [disabled]="!registerForm.valid" type="submit" mdl-button-type="raised"
                mdl-colored="primary" mdl-ripple translate>Auth.Registration</button>
        <button mdl-button type="button" (click)="cancel()" translate>Common.Cancel</button>
    </div>
</form>