@using Challenging_Challenges.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<Challenging_Challenges.Models.Entities.SearchIndex>

<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("ChallengesPartial", "Home", new { page, selector = ViewData["selector"].ToString(), sort = ViewData["sort"].ToString() }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "GET", UpdateTargetId = ViewData["selector"].ToString() }))
</div>

<div class="row masonry">
    @foreach (var item in Model)
    {
        <div class="challenge">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="@Url.Action("Solve", "Challenges", new {id = item.Id})">
                        <h4 class="fadeout">@item.Title</h4>
                    </a>
                </div>
                <div class="panel-body">
                    @Html.Markdown(item.PreviewText)
                </div>
            </div>
        </div>
    }
</div>