body {
    font-size: 15px;
}

@mixin column-width($value) {
    -moz-column-width: $value;
    -webkit-column-width: $value;
    column-width: $value;
}

@mixin column-gap($value) {
    -moz-column-gap: $value;
    -webkit-column-gap: $value;
    column-gap: $value;
}

.challenge {

    img {
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
    }
}

.panel {
    margin-bottom: 0;
}

.panel-body {
    padding: 5px;
    -ms-word-break: break-all;
    word-break: break-all;
    max-height: 300px;
    overflow-y: auto;
}

.masonry {
    @include column-width(20em);
    @include column-gap(4px);

    > .challenge {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
        float: none;
    }
}

.fadeout {
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

#tag-cloud {
    display: block;
}