<filters [(searchType)]="selectedSearchType" [(searchString)]="searchString" (changeFilter)="changeFilter()"></filters>
<div class="mdl-grid">
    <loading-spinner [active]="isLoading"></loading-spinner>
    <challenge mdl-shadow="4" class="mdl-cell mdl-cell--12-col" 
      *ngFor="let challenge of challenges | async" [challenge]="challenge"></challenge>
    <button [disabled]="!nextPageEnabled" (click)="nextPage()">Next</button>
    <button [disabled]="!previousPageEnabled" (click)="previousPage()">Prev</button>
</div>