<label class="mdl-cell mdl-cell--12-col">Test Cases</label>
<mdl-button *ngIf="canAddTestCase()" (click)="addTestCase()">Add</mdl-button>
<div *ngFor="let testCase of testCases.controls; let index = index">
    <mdl-textfield-validated [formControl]="testCase.get('input')"
                             label="Input Parameter {{index+1}}"
                             floating-label></mdl-textfield-validated>
    <mdl-textfield-validated [formControl]="testCase.get('output')"
                             label="Output Parameter {{index+1}}"
                             floating-label></mdl-textfield-validated>
    <mdl-checkbox style="width: initial;" [formControl]="testCase.get('isPublic')">Public</mdl-checkbox>
    <mdl-button *ngIf="canDeleteTestCase()" (click)="deleteTestCase(testCase)">Delete</mdl-button>
</div>