<p-growl [value]="messages"></p-growl>

<md-sidenav-container>
    <md-sidenav #sidebar>
        <nav-menu></nav-menu>
    </md-sidenav>

    <div class='container'>
        <div class='row'>
            <button md-button (click)="sidebar.open()">open sidebar</button>
            <button md-button (click)="sidebar.close()">close sidebar</button>
            <div class='col-sm-9 body-content'>
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</md-sidenav-container>