<simple-notifications [options]="options"></simple-notifications>

<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
    <mdl-layout-header class="mdl-color--grey-100 mdl-color-text--grey-600">
        <mdl-layout-header-row>
            <mdl-layout-title>I lav angular 2</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <mdl-textfield type="text" icon="search"></mdl-textfield>
         </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <nav-menu (onNavigated)="onNavigated()"></nav-menu>
    </mdl-layout-drawer>

    <mdl-layout-content>
        <router-outlet></router-outlet>
    </mdl-layout-content>
</mdl-layout>

<dialog-outlet></dialog-outlet>