<div class="mdl-cell mdl-cell--3-col">
  <mdl-select floating-label [(ngModel)]="searchType" placeholder="{{ 'SearchField' | translate:lang }}">
    <mdl-option *ngFor="let type of searchTypes" [value]="type.type">{{type.name}}</mdl-option>
  </mdl-select>
</div>
<div class="mdl-cell mdl-cell--6-col">
  <mdl-textfield
    class="full-width"
    type="text"
    floating-label
    label="{{ 'Keyword' | translate:lang }}"
    [(ngModel)]="searchString"
    (keyup.enter)="submit()"
    autofocus></mdl-textfield>
</div>
<div class="mdl-cell mdl-cell--3-col button-cell">
  <button mdl-button mdl-colored="primary" mdl-ripple (click)="submit()">
    <mdl-icon>search</mdl-icon>
    {{ 'Search' | translate:lang }}
  </button>
  <button mdl-button mdl-ripple mdl-colored="accent">
    <mdl-icon>add</mdl-icon>
    {{ 'CreateChallenge' | translate:lang }}
  </button>
</div>