.search {
    display: none;
}

#title {
    text-align: center;
}

.solve-btn {
    position: absolute;
    right: 2%;
}

.challenge {
    position:relative;
    max-height: 500px;
}

.media-heading {
    font-size: 21px;
}

.condition {
    font-size: 16px;
    -ms-word-break: break-all;
    word-break: break-all;
    overflow-y: auto;
    max-height: 350px;

    img {
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
  .post-footer, .condition, p {
    font-size: 12px;
  }

  .media-heading {
      font-size: 14px;
  }

  .solve-btn {
      opacity: 0.5;
  }
}


 /*   .search {
    display: none;
}

#title {
    text-align: center;
}

.solve-btn {
    position: absolute;
    right: 2%;
}

.challenge {
    position: relative;
    height: 250px;
    position:relative;
    max-height: 500px;
    margin-bottom: 10px;
}

.media-heading {
    font-size: 21px;
}

.condition {
    height: 200px;
    font-size: 16px;
    -ms-word-break: break-all;
    word-break: break-all;
    overflow-y: auto;
    max-height: 400px;

    img {
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
  .post-footer, .condition, p {
    font-size: 12px;
  }

  .media-heading {
      font-size: 14px;
  }

  .solve-btn {
      opacity: 0.5;
  }
}
*/