<h3 class="mdl-dialog__title">Вход</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mdl-dialog__content">
        <mdl-textfield formControlName="userName"
                    label="Имя пользователя"
                    name="userName"
                    type="text"
                    formControlName="userName"
                    floating-label></mdl-textfield>
        <mdl-textfield formControlName="password"
                    label="Пароль"
                    name="password"
                    type="password"
                    formControlName="password"
                    error-msg="Пароль должен содержать строчную букву, прописную букву, цифру и иметь длину более 6 символов."
                    floating-label></mdl-textfield>
    </div>
    <div class="mdl-dialog__actions">
        <button mdl-button [disabled]="!loginForm.valid" type="submit" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Войти</button>
        <button mdl-button type="button" (click)="cancel()">Отмена</button>
    </div>
</form>