<h3 class="mdl-dialog__title">Вход</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mdl-dialog__content">
        <mdl-textfield formControlName="userName"
                    label="Имя пользователя"
                    name="userName"
                    type="text"
                    formControlName="userName"
                    floating-label></mdl-textfield>
        <mdl-textfield formControlName="password"
                    label="Пароль"
                    name="password"
                    type="password"
                    formControlName="password"
                    floating-label></mdl-textfield>

        <p>Form value: {{ loginForm.value | json }}</p>
        <p>Form valid: {{ loginForm.valid }}</p>
        <p>userName valid: {{ loginForm.get("userName").valid }}</p>
    </div>
    <div class="mdl-dialog__actions">
        <!--[disabled]="!loginForm.valid"-->
        <button mdl-button type="submit" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Войти</button>
        <button mdl-button type="button" (click)="cancel()">Отмена</button>
    </div>
</form>