<nav class="mdl-navigation">
    <a class="mdl-navigation__link" 
        [routerLinkActive]="['mdl-color--light-green-400']" 
        [routerLink]="['/home']"
        (click)="onNavigated()">Главная</a>
    <a class="mdl-navigation__link" 
        [routerLinkActive]="['mdl-color--light-green-400']" 
        [routerLink]="['/counter']"
        (click)="onNavigated()">Counter</a>
    <auth (onNavigated)="onNavigated()"></auth>
</nav>



<!--<md-nav-list>
    <a md-list-item class="default-primary-color" [routerLink]="['/home']">
        Challenging Challenges
    </a>
    <a md-list-item [routerLinkActive]="['light-primary-color']" [routerLink]="['/counter']">
        <md-icon>check_circle</md-icon>
        <span> Counter</span>
    </a>
    <auth></auth>
</md-nav-list>-->

<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">PresentationWeb</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <auth></auth>
            </ul>
        </div>
    </div>
</div>-->
