<div class="mdl-grid mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>New Challenge</h3>
    </div>
    <form class="mdl-cell mdl-cell--12-col" [formGroup]="challengeForm" (ngSubmit)="submit()">
            <mdl-textfield-validated class="mdl-cell--12-col" [formControl]="challengeForm.get('title')"
                                     label="Title"
                                     type="text"
                                     floating-label></mdl-textfield-validated>
            <mdl-select class="challenge__first-row-field" #sectionSelect floating-label formControlName="section" placeholder="Section">
                <mdl-option *ngFor="let section of sections" [value]="section.value">{{section.name}}</mdl-option>
            </mdl-select>
            <mdl-switch class="mdl-cell--3-col" formControlName="codeAnswered">Code Answered</mdl-switch>
            <mdl-select class="challenge__first-row-field" floating-label formControlName="difficulty" placeholder="Difficulty">
                <mdl-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">{{difficulty.name}}</mdl-option>
            </mdl-select>
            <mdl-select floating-label formControlName="language" placeholder="Language">
                <mdl-option *ngFor="let language of languages" [value]="language.value">{{language.name}}</mdl-option>
            </mdl-select>
        <h4>Preview Text</h4>
        <textarea #previewEditor></textarea>
        <span *ngIf="challengeForm.get('previewText').touched" class="mdl-textfield__error challenge__markdown-editor-error">{{challengeForm.get('previewText').errors | errorText}}</span>
        <h4>Condition</h4>
        <textarea #conditionEditor></textarea>
        <span *ngIf="challengeForm.get('condition').touched" class="mdl-textfield__error challenge__markdown-editor-error">{{challengeForm.get('condition').errors | errorText}}</span>
        <div [hidden]="challengeForm.get('codeAnswered').value">
            <answers [answers]="challengeForm.get('answers')"></answers>
        </div>
        <div [hidden]="!challengeForm.get('codeAnswered').value">
            <h4>Solution</h4>
            <ace-editor style="height:500px"></ace-editor>
            <test-cases [testCases]="challengeForm.get('testCases')"></test-cases>
        </div>
        <h4>Tags</h4>
        <tag-input formControlName="tags" [maxItems]="5" [modelAsStrings]="true"></tag-input>

        <div class="mdl-cell mdl-cell--12-col">
            <button [routerLink]="['/challenges']" mdl-button mdl-button-type="raised" mdl-ripple>
                <mdl-icon>keyboard_arrow_left</mdl-icon>
                To Challenges List
            </button>
            <button style="float:right" mdl-button [disabled]="!challengeForm.valid" type="submit" mdl-button-type="raised"
                    mdl-colored="primary" mdl-ripple>Done!</button>
        </div>
    </form>
</div>