<div class="mdl-grid mdl-cell--8-col">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>New Challenge</h3>
    </div>
    <form class="mdl-cell mdl-cell--12-col" [formGroup]="challengeForm" (ngSubmit)="submit()">
        <p>
            <mdl-textfield-validated class="mdl-cell--12-col" [formControl]="challengeForm.get('title')"
                                     label="Title"
                                     type="text"
                                     floating-label></mdl-textfield-validated>
        </p>
        <p>
            <mdl-select class="challenge__first-row-field" #sectionSelect floating-label formControlName="section" placeholder="Section">
                <mdl-option *ngFor="let section of sections" [value]="section.value">{{section.name}}</mdl-option>
            </mdl-select>
            <mdl-switch class="mdl-cell--3-col" formControlName="codeAnswered">Code Answered</mdl-switch>
        </p>
        <p>
            <mdl-select class="challenge__first-row-field" floating-label formControlName="difficulty" placeholder="Difficulty">
                <mdl-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">{{difficulty.name}}</mdl-option>
            </mdl-select>
            <mdl-select floating-label formControlName="language" placeholder="Language">
                <mdl-option *ngFor="let language of languages" [value]="language.value">{{language.name}}</mdl-option>
            </mdl-select>
        </p>
        <textarea #previewEditor></textarea>
        <span class="mdl-textfield__error challenge__markdown-editor-error">{{getErrorForControl(challengeForm.get('previewText'))}}</span>
        <textarea #conditionEditor></textarea>
        <span class="mdl-textfield__error challenge__markdown-editor-error">{{getErrorForControl(challengeForm.get('condition'))}}</span>
        <div [hidden]="challengeForm.get('codeAnswered').value">
            <answers [answers]="answers"></answers>
        </div>
        <div [hidden]="!challengeForm.get('codeAnswered').value">
            <label class="mdl-cell mdl-cell--12-col">Answer</label>
            <ace-editor style="height:500px" [(text)]="codeAnswer"></ace-editor>
            <test-cases [testCases]="testCases"></test-cases>
        </div>
        <mdl-textfield class="mdl-cell mdl-cell--12-col" label="Tags" floating-label></mdl-textfield>

        <div class="mdl-cell mdl-cell--12-col">
            <button [routerLink]="['/challenges']" mdl-button mdl-button-type="raised" mdl-ripple>
                <mdl-icon>keyboard_arrow_left</mdl-icon>
                To Challenges List
            </button>
            <button style="float:right" mdl-button [disabled]="!challengeForm.valid" type="submit" mdl-button-type="raised"
                    mdl-colored="primary" mdl-ripple>Done!</button>
        </div>
    </form>
</div>