<mdl-card class="mdl-cell mdl-cell--12-col">
    <mdl-card-title>
        <h2 mdl-card-title-text>{{challenge.title}}</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
        <markdown [data]="challenge.previewText"></markdown>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
        <button mdl-button mdl-colored mdl-ripple>{{'Home.Open' | translate:lang}}</button>
    </mdl-card-actions>
    <mdl-card-menu>
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            <mdl-icon>launch</mdl-icon> {{'Challenges.Open' | translate:lang}}
        </button>
    </mdl-card-menu>
</mdl-card>